body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*#board{
    /*background-color: skyblue;*/
 /*   background-image: url(./images/flappybirdbg.png);
}*/

.level-1 {
    background-image: url(./images/flappybirdbg.png);
    /* Otros estilos específicos del nivel 1 */
  }
  
  .level-2 {
    background-image: url(./images/Hell.png);
    /* Otros estilos específicos del nivel 2 */
  }
